@charset "UTF-8";

:root {
    --verde: #49a09d;
    --verdeClaro: #6bdbd8;
    --verdeEscuro: #336b69;
    --Lilás: #5f2c82;
} 

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    background-color: var(--Lilás);
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    width: 15.625em;
    height: 31.25em;
    border-radius: 1.25em;
    box-shadow: 0px 0px 10px black;

    transition: width .3s, height 1s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url('../imagens/image.jpg') center left no-repeat;
    background-size: cover;
    height: 12.5em;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario p {
    font-size: .8em;
}

form > div.campo {
    background-color: var(--Lilás);
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px; 
}

div.campo > label {
    display: none; 
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--verde);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: var(--verdeEscuro);
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: var(--verdeEscuro);
    border: 1px solid #336b69;
    border-radius: 7px;
    text-decoration: none;
}

form > a.botao > i {
    font-size: .9em;
}

form > a.botao:hover {
    background-color: var(--verdeClaro);
}

